<div *ngIf="game$ | async as game" class="flex flex-column flex-wrap items-center w-100">
  <div class="flex justify-center w-90 mt6">
    <app-team-score class="w-50" header="Away" [team]="game.away"></app-team-score>
    <app-team-score class="w-50" header="Home" [team]="game.home"></app-team-score>
  </div>
  <div class="flex justify-center w-90 mt5">
    <app-inning-state class="w-100" [game]="game"></app-inning-state>
  </div>
  <div class="flex justify-around w-90 mt5">
    <button mat-raised-button color="primary" (click)="saveGame(false)">Save Game</button>
    <button mat-raised-button color="primary" (click)="saveGame(true)">Save and Exit</button>
  </div>
</div>
