<div class="pa4">
  <div class="mat-headline">Recent Games</div>
  <div>
    <mat-card *ngFor="let game of gamesService.recentGames$ | async">
      <mat-card-content>
        <div class="flex flex-column">
          <div class="f5 mb1">{{game.datePlayed | date:'shortDate'}}</div>
          <div class="flex justify-between items-center b">
            <span>{{game.away.name}}</span>
            <span>{{game.away.score}}</span>
          </div>
          <div>@</div>
          <div class="flex justify-between items-center b">
            <span>{{game.home.name}}</span>
            <span>{{game.home.score}}</span>
          </div>
        </div>
      </mat-card-content>
    </mat-card>
  </div>
</div>
